---
import ArtsGrid from '../../layouts/ArtsGrid.astro'
---

<ArtsGrid title="arts[links]" displayOnly={true}>
  <h1>links</h1>
  <ul class="link-list display">
    <li>Music:<a href="https://zonkyflay.bandcamp.com/">Bandcamp</a></li>
    <li>Video:<a href="https://www.youtube.com/user/eostrom">YouTube</a></li>
    <li>
      Photos:<a href="https://www.instagram.com/erikostrom/">Instagram</a>
    </li>
    <li>Human contact:<a href="mailto:arts@erikostrom.com">Email Me</a></li>
  </ul>
</ArtsGrid>
