---
import '@fontsource/noto-serif'
import '@fontsource/roboto'
import '@fontsource/roboto-mono'
import 'normalize.css'
import '../styles/codearts.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>code|arts – Erik Ostrom</title>
  </head>
  <body>
    <slot />
  </body>
</html>
